releasenote/omegat/*
releasenote/target/*
releasenote/*.tmx

frontend/omegat/*
frontend/target/*
frontend/*.tmx

document/zabbix-1.8/api/omegat/*
document/zabbix-1.8/api/target/*
document/zabbix-1.8/*.tmx

document/zabbix-1.8/manual/omegat/*
document/zabbix-1.8/manual/target/*
document/zabbix-1.8/manual/*.tmx
